* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c2922;
  color: #fff;
  overflow: hidden;
  background-attachment: fixed;
}
.navbar {
  padding-top: 15px;
  background-color: #2c2922;
  font-family: "Montserrat", sans-serif;
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
  position: relative;
  color: rgba(255, 255, 255, 0.686);
}
.logo-img {
  margin-left: 100px;
  height: 30px;
}
.lists {
  display: flex;
}
.list-item {
  text-decoration: none;
  list-style: none;
  margin-right: 45px;
 cursor: pointer;
}
.list-item:first-child {
  color: #fff;
}

.list-item:hover{
  font-weight: bold;
  font-size:17px;
  color: #fff;
}
.btn-get {
  background-color: transparent;
  color: rgba(255, 255, 0, 0.435);
  border: 1px solid rgba(255, 255, 0, 0.435);
  border-radius: 8px;
  padding: 7px 15px;
  cursor: pointer;
}

.btn-get:hover{
  box-shadow: 0px 0px 1px 0.5px rgba(255, 255, 0, 0.435); ;
}

.main {
  background-color: #2c2922;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}
.heading-first {
  font-size: 50px;
}
.paragraph {
  color: rgba(255, 255, 255, 0.686);
  font-family: "Montserrat", sans-serif;
}

.bottom-img {
  width: 100%;
  height: 51vh;
}
